.laytable-cell-1-0-0 {
    width: 50px;
}

.laytable-cell-1-0-1 {
    width: 80px;
}

.laytable-cell-1-0-2 {
    width: 80px;
}

.laytable-cell-1-0-3 {
    width: 80px;
}

.laytable-cell-1-0-4 {
    width: 80px;
}

.laytable-cell-1-0-5 {}

.laytable-cell-1-0-6 {
    width: 80px;
}

.laytable-cell-1-0-7 {
    width: 80px;
}

.laytable-cell-1-0-8 {
    width: 80px;
}

.laytable-cell-1-0-9 {
    width: 135px;
}

.laytable-cell-1-0-10 {}